<template>
  <div id="language-switch">
    <span class="wrapper-lang" v-for="(lang, index) in langs" :key="index">
      <a class="button-lang" href="#">{{ lang }}</a>
      <span class="separator" v-if="index !== langs.length - 1">|</span>
    </span>
  </div>
</template>

<script>
export default {

  /** this component could $emit chosen value
    * decided to keep languages as hyperlinks
    * as it makes no difference in this task.
    */
  name: 'LanguageSwitch',
  props: {
    langs: Array,
  },
};
</script>

<style lang="sass" scoped>
#language-switch
  display: inline

  .button-lang
    color: #000000
    text-decoration: none
    cursor: pointer
    transition: 0.2s opacity ease-in-out

    &:hover
      opacity: 0.7

  .separator
    margin: 0 7px
    opacity: 0.5
</style>
