<template>
<div id="left-squircle">
  <svg class="squircle-solid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="707.107" height="707.107" viewBox="0 0 707.107 707.107"> <defs> <linearGradient id="linear-gradient" x1="0.06" y1="0.06" x2="0.597" y2="0.597" gradientUnits="objectBoundingBox"> <stop offset="0" stop-color="#09f"/> <stop offset="1" stop-color="#0039aa"/> </linearGradient> </defs> <rect id="Rectangle_39" data-name="Rectangle 39" width="500" height="500" rx="100" transform="translate(707.107 353.553) rotate(135)" fill="url(#linear-gradient)"/> </svg>
  <svg class="squircle-thin" xmlns="http://www.w3.org/2000/svg" width="707.107" height="707.107" viewBox="0 0 707.107 707.107"> <g id="Rectangle_38" data-name="Rectangle 38" transform="translate(353.553) rotate(45)" fill="none" stroke="#152b75" stroke-width="1"> <rect width="500" height="500" rx="100" stroke="none"/> <rect x="0.5" y="0.5" width="499" height="499" rx="99.5" fill="none"/> </g> </svg>
</div>
</template>

<script>
export default {
  name: 'LeftSquircle',
};
</script>

<style lang="sass" scoped>
#left-squircle
  position: absolute
  z-index: -1
  left: -35vw
  top: 0
  transition: 0.2s top ease-in-out

  // move squircle up to improve readability
  @media screen and (max-width: 576px)
    top: -150px

  .squircle-solid,
  .squircle-thin
    position: absolute
    top: 0
    width: 50vw

  .squircle-solid
    top: 7vw
</style>
