<template>
<div id="pagination">
  <span class="text">Strona </span>
  <span
    class="button-page"
    v-for="page in parseInt(pageCount)"
    :key="page"
    :class="(page === pageCurrent) ? 'current-page' : null"
  >
    <a :href="'?page='+page">{{ page }}</a>
    <span class="separator"> | </span>
  </span>
  <a :href="'?page='+pageCount" class="button-last-page"> >> </a>
</div>
</template>
<script>

/** decided to create my own component
  * instead of using bootstrap one as
  * i need to heavily customize it to
  * match the design i'm recreating
  */
export default {
  name: 'Pagination',
  props: {
    pageCurrent: Number,
    pageCount: Number,
  },
};

</script>

<style lang="sass" scoped>

#pagination
  font-size: 14pt
  padding: 45px 0
  color: #152B75
  font-weight: 300

  a
    color: #152B75
    text-decoration: none

  .text,
  .current-page
    font-weight: 500

  .separator
    opacity: 0.5

</style>
