<template>
  <div class="product-card">
    <BCard
      :title="name"
      :img-src="img"
      :img-alt="name"
      img-top
    >
      <div class="underline"></div>
      {{ desc }}
    </BCard>
  </div>
</template>

<script>
import { BCard } from 'bootstrap-vue';

export default {
  name: 'ProductCard',
  props: {
    img: String,
    name: String,
    desc: String,
  },
  components: {
    BCard,
  },
};
</script>

<style lang="sass" scoped>
.product-card
  display: inline-block
  flex: 0 0 23%
  margin: 5px

  @media screen and (max-width: 1600px)
    flex: 0 1 30%

  @media screen and (max-width: 900px)
    flex: 0 1 45%

  @media screen and (max-width: 650px)
    flex: 0 1 100%

  .card
    border-radius: 10px
    border: none

    // slightly reduced blur compared to recruitment task
    filter: drop-shadow(2px 3px 10px rgba(55, 103, 175, 30%))

    border: 2px solid #FFFFFF
    transition: 0.2s border ease-in-out

    &:hover
      border: 2px solid #0099FF

.card-img-top
  width: 75%
  margin: 10% auto

.underline
  display: block
  width: 20px
  height: 2px
  background-color: #0099FF
  margin: 5px 0
</style>
