<template>
  <div class="products">
    <h1 class="title">
      Produkty
      <BIconChevronRight/>
      {{ msg }}
    </h1>
    <p class="info">
      <!-- eslint-disable -->
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      <!-- eslint-disable -->
    </p>
    <BBreadcrumb :items="breadcrumbs"/>
    <BContainer fluid>
      <BRow class="row-aligned">
        <BCol sm="6" lg="3">
          <!-- Fake select for visualisation -->
          <div class="select-category">
            {{ msg }}
            <BIconChevronDown/>
          </div>
        </BCol>
        <BCol v-model="msg" sm="6" lg="9">
          <span class="products-headline">Produkty:</span>
        </BCol>
      </BRow>
      <BRow>
        <BCol lg="3" sm="12">
          <BNav vertical>
            <BNavItem 
              v-for="sub in subcategories"
              :key="sub.value"
              v-bind:class="{ selected: sub.value === selectedSubcategory }"
            >
              {{ sub.text }}
            </BNavItem>
          </BNav>
          <BButton
            class="button-toggle-collapse"
            @click="filtersVisible = !filtersVisible"
          >
             Zakres pomiaru
             <BIconChevronDown 
               class="icon-toggle-collapse"
               :class="filtersVisible ? 'rotated' : null"
             />
          </BButton>
          <BCollapse id="filter-collapse" v-model="filtersVisible">
            <div class="filter" v-for="filter in filters">
              {{ filter }}
              <BIconX 
                class="button-remove"
                @click="removeFilter(filter)"
              />
            </div>
          </BCollapse>
        </BCol>
        <BCol lg="9" sm="12" class="wrapper-products">
          <ProductCard 
            v-for="product in products"
            :key="product.id"
            :img="product.image"
            :name="product.name"
            :desc="product.description"
          />
        </BCol>
      </BRow>
      <BRow>
        <BCol cols="3"></BCol>
        <BCol cols="9">
          <Pagination
            :pageCount="pageCount"
            :pageCurrent="pageCurrent"
          />
        </BCol>
      </BRow>
    </BContainer>
  </div>
</template>

<script>
import {
  BBreadcrumb,
  BContainer,
  BRow,
  BCol,
  BIconChevronDown,
  BIconChevronRight,
  BIconX,
  BNav,
  BNavItem,
  BButton,
  BCollapse,
} from 'bootstrap-vue';
import ProductCard from './ProductCard.vue';
import Pagination from './Pagination.vue';

export default {
  name: 'Products',
  props: {
    msg: String,
  },
  components: {
    BBreadcrumb,
    BContainer,
    BRow,
    BCol,
    BIconChevronDown,
    BIconChevronRight,
    BIconX,
    BNav,
    BNavItem,
    BButton,
    BCollapse,
    ProductCard,
    Pagination,
  },
  data() {
    return {

      /** hard-coded data to simulate API responses
        * and user's previous actions
        */
      breadcrumbs: [
        {
          text: 'Produkty',
          href: '#',
        },
        {
          text: 'Ciśnienie',
          href: '#',
        },
        {
          text: 'Przetworniki ciśnienia',
          active: true,
        },
      ],

      selectedSubcategory: 'converter',

      subcategories: [
        { value: 'converter', text: 'Przetworniki ciśnienia' },
        { value: 'diffconverter', text: 'Przetworniki różnicy ciśnień' },
        { value: 'pressureswitch', text: 'Presostaty' },
        { value: 'manometer', text: 'Manometry' },
      ],

      filtersVisible: true,

      filters: [
        '<600 bar', '<1 bar', 'Przetworniki', 'Filtry', 'Usuń mnie!',
      ],

      removeFilter(filter) {
        const index = this.filters.indexOf(filter);
        if (index !== -1) {
          this.filters.splice(index, 1);
        }
      },

      products: [
        {
          id: '0',
          image: './assets/8252.jpg',
          name: 'NAT 8252',
          description: 'Przemysłowy przetwornik ciśnienia',
        },
        {
          id: '1',
          image: './assets/8252.jpg',
          name: 'NAT 8252',
          description: 'Przemysłowy przetwornik ciśnienia',
        },
        {
          id: '2',
          image: './assets/8252.jpg',
          name: 'NAT 8252',
          description: 'Przemysłowy przetwornik ciśnienia',
        },
        {
          id: '3',
          image: './assets/8252.jpg',
          name: 'NAT 8252',
          description: 'Przemysłowy przetwornik ciśnienia',
        },
        {
          id: '4',
          image: './assets/8252.jpg',
          name: 'NAT 8252',
          description: 'Przemysłowy przetwornik ciśnienia',
        },
      ],
      pageCurrent: 1,
      pageCount: 3,
    };
  },
};
</script>

<style lang="sass" scoped>

.products
  padding-top: 10vh

  .title

    .bi-chevron-right
      font-size: 24pt
      opacity: 0.5

  .info
    width: 70%
    font-size: 14pt
    font-weight: 300
    padding: 30pt 0

  .breadcrumb
    border-bottom: 1px solid #3A9CFF
    padding-bottom: 20px
    font-size: 9pt

    .breadcrumb-item
      a
        color: black
        text-decoration: none

      &.active
        color: black
        font-weight: 600

      +:before
        content: "» "

  .container-fluid
    padding: 0

    .row-aligned
      display: flex
      align-items: center
      padding: 15px 0 25px 0

      .select-category
        background: #FFFFFF
        border: 2px solid #99A3C3
        border-radius: 50px
        padding: 10px 25px
        font-size: 12pt

        display: flex
        align-items: center
        justify-content: space-between

        @media screen and (max-width: 576px)
          margin-bottom: 30px

        .bi-chevron-down
          font-size: 18pt
          color: #0099FF

      .products-headline
        font-size: 16pt
        color: #152B75

      .custom-select
        border: none
        width: 100%

    .nav
      border-left: 1px solid #0099FF
      margin-left: 25px

      .nav-item
        a
          color: black
          font-weight: 200
          font-size: 12pt
          transition: 0.2s color ease-in-out

          &:hover
            color: #999

        &.selected a
          font-weight: 500

    .wrapper-products
      display: flex
      justify-content: space-between
      flex-wrap: wrap

      &:after
        content: ''
        flex: 0 1 calc(30% + 10px)

.button-toggle-collapse
  background: none
  border: none
  color: black
  font-size: 12pt
  margin: 45px 0px 7px 7px

  &:active
    outline: none

  .icon-toggle-collapse
    margin-left: 15px
    font-size: 18pt
    color: #0099FF
    transition: 0.2s transform ease-in-out

  .rotated
    transform: rotateX(180deg)

#filter-collapse
  margin-left: 15px
  margin-bottom: 25px

  .filter
    display: inline-block
    background: #0099FF
    color: #FFFFFF
    padding: 5px 0px 5px 10px
    border-radius: 4px
    vertical-align: middle
    margin: 5px

    .button-remove
      font-size: 18pt
      margin: 0 5px
      cursor: pointer
      border-radius: 4px
      background: rgba(255, 255, 255, 0%)
      transition: 0.2s background ease-in-out

      &:hover
        background: rgba(255, 255, 255, 30%)
</style>
