<template>
<div id="right-squircle">
  <svg class="squircle-solid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2002.428 2002.428"> <rect id="Rectangle_31" data-name="Rectangle 31" width="1415.93" height="1415.93" rx="100" transform="translate(1001.214) rotate(45)" fill="#f1f6f9"/> </svg>
</div>
</template>

<script>

export default {
  name: 'RightSquircle',
};

</script>

<style lang="sass" scoped>
#right-squircle
  position: relative
  z-index: -1
  top: 0
  right: 0

  .squircle-solid
    position: absolute
    top: -40vw
    width: 70vw
    right: -25vw

    #Rectangle_31
      position: absolute
</style>
