<template>
  <div id="app">
    <RightSquircle />
    <LeftSquircle />
    <Header :langs="availableLanguages" />
    <BContainer fluid>
      <BRow>
        <BCol></BCol>
        <BCol sm="8">
          <Products msg="Ciśnienie"/>
        </BCol>
        <BCol></BCol>
      </BRow>
    </BContainer>
  </div>
</template>

<script>
import {
  BContainer, BRow, BCol,
} from 'bootstrap-vue';
import Products from './components/Products.vue';
import Header from './components/Header.vue';
import LeftSquircle from './components/LeftSquircle.vue';
import RightSquircle from './components/RightSquircle.vue';

export default {
  name: 'App',
  components: {
    Header,
    BContainer,
    BRow,
    BCol,
    Products,
    LeftSquircle,
    RightSquircle,
  },
  data() {
    return {
      availableLanguages: ['PL', 'EN'],
    };
  },
};
</script>

<style lang="sass">

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap')

body
  width: 100vw
  overflow-x: hidden
  margin-bottom: 10vh

#app
  font-family: Lato, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50

</style>
